// トップページ
.home{
  // ヘッダーメニュー
  .content-top-in{
		background-color: #fff;
  }
  
	// 「最近の投稿」ウィジェット
	.widget.widget-content-top.widget_recent_entries{
		float: left;
		width: 70%;
		padding: 1em;
		a{
			width: 100%;
			&:hover{
				text-decoration: underline;
				
			}
		}
	}

	// 「SNSフォローボタン」ウィジェット
	.widget.widget-content-top.widget_sns_follow_buttons{
		float: right;
		width: 25%;
	}

	// 「ボックスメニュー」ウィジェット
	.widget.widget-content-top.widget_box_menu{
		clear: both;
		.box-menus{
			justify-content: space-around;

			.box-menu{
				flex-grow: 1;

				&:last-child{
					margin-right: 0;
				}

				.box-menu-icon{
					height: 200px;
					overflow: hidden;
					img{
						max-width: 100%;
						max-height: none;
					}
				}
			}
		}
	}  
}