/*------------------------------*/
/* 変数設定 */
/*------------------------------*/

/*------------------------------*/
/* カラー */
/*------------------------------*/
$shadow: #aaa;

/*------------------------------*/
/* メディアクエリ */
/*------------------------------*/

$breakpoint_lg: 1023px;
$breakpoint_md: 834px;
$breakpoint_sm: 480px;
