// エントリーカード
.entry-card-wrap{
  &:hover{
    text-decoration: underline;
	}
	position: relative;
}

// カテゴリーリスト
.categories-list{
	z-index: 100;
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
	right: 0.5em;
	bottom: 0.5em;
	display: flex;

	$border-radius: 5px;
	li{
		margin-left: 0.5em;
		border-radius: $border-radius;
		&:hover{
			box-shadow: 0px 0px 10px cyan;
			transition: box-shadow 0.2s ease-out;
		}
	}
	.cat-link{
		margin: 0;
		font-size: 12px;
		padding: 0.2em 1em;
		display: block;
		border: none;
		border-radius: $border-radius;
		background-color: transparent;
		&:hover{
			opacity: 1;
		}
	}
}

.entry-card{
	// サムネイルのサイズ統一
	// 参考：小さい画像でもサムネイル表示の縦横比を揃えたい | カスタマイズ相談 | Cocoon フォーラム https://wp-cocoon.com/community/customs/%E5%B0%8F%E3%81%95%E3%81%84%E7%94%BB%E5%83%8F%E3%81%A7%E3%82%82%E3%82%B5%E3%83%A0%E3%83%8D%E3%82%A4%E3%83%AB%E8%A1%A8%E7%A4%BA%E3%81%AE%E7%B8%A6%E6%A8%AA%E6%AF%94%E3%82%92%E6%8F%83%E3%81%88%E3%81%9F/
		&-thumb{
			position:relative;
		}
		&-thumb:before{
			content:"";
			display:block;
			padding-top: 66.6%; /* 3:2 = 2/3*100 */
		}
		&-thumb img{
			width:100%; height:100%;
			object-fit:cover;
			position:absolute;
			top:0; left:0;
    }
    
  box-shadow: 0px 0px 5px $shadow;

  



	// カードボディ
  &-content{
    padding: 1em 1em 2em;
  }
	// サムネイルタイトル
	&-title{
		margin: 0 0 0.5em 0; 
	}
	// 本文抜粋
	&-snippet{
		max-height: none;
  }
  
  // メタ情報
  &-meta{
    bottom: 0.5em;
    right: 0.5em;
  }
}

// ３カラム時のスタイル
.ect-3-columns{

  .entry-card-snippet{
    $font-size: 0.8em;
    $line-height: 1.3;
    max-height: calc(#{$line-height} * 4em - 2px);
    font-size: $font-size;
    line-height: $line-height;
  }
}
